units:
  # kx and ky allow for easy- easi-er switching between MX and Choc.
  kx: u
  ky: u
  px: kx + 2
  py: ky + 2
  # These variables allow for updating the previews on https://ergogen.ceoloide.com
  $default_width: u
  $default_height: u
  # KiCAD places the PCB in the middle of nowhere to start with.
  # These variables give a starting place for later shifts.
  starting_x: 100
  starting_y: -100

meta:
  engine: 4.1.0

points:
  zones:
  # left side
    r2:
      anchor:
        shift: [starting_x, starting_y]
      columns:
        y:
          key:
            column_net: P0
        u:
          key:
            column_net: P1
        i:
          key: 
            column_net: P2
        o:
          key:
            column_net: P3
        p:
          key:
            column_net: P4
        backspace:
          key:
            column_net: P5
        delete:
          key:
            column_net: P6
      rows:
        single:
          key:
            row_net: P7


    r3right:
      anchor:
        shift: [starting_x, starting_y-ky]
      columns:
        h:
          key:
            column_net: P0
        j:
          key:
            column_net: P1
        k:
          key:
            column_net: P2
        l:
          key:
            column_net: P3
        colon:
          key:
            column_net: P4
        quotes:
          key:
            shift: [0.25kx, 0]
            column_net: P5
      rows:
        single:
          key:
            row_net: P8
    
    r4right:
      anchor:
        shift: [starting_x, starting_y-2ky]
      columns:
        b:
          key:
            column_net: P0
        n:
          key:
            column_net: P1
        m:
          key:
            column_net: P2
        comma:
          key:
            column_net: P3
        peroid:
          key:
            column_net: P4
        up_arrow:
          key:
            column_net: P5
        slash:
          key:
            column_net: P6
      rows:
        single:
          key:
            row_net: P9
    
    r5right:
      anchor:
        shift: [starting_x, starting_y-3ky]
      columns:
        larrow:
          key:
            column_net: P4
        darrow:
          key:
            column_net: P5
        rarrow:
          key:
            column_net: P6
      rows:
        single:
          key:
            row_net: P10

    thumbfanright:
      anchor:
        shift: [starting_x+5.8ky, starting_y-3ky]
      columns:
        lower:
          key:
            rotate: -7
            shift: [0, -2]
            column_net: P5
            row_net: P9
        space:
          key:
            width: 1.5kx
            rotate: -60
            shift: [-1, -0.2ky]
            column_net: P0
        raise:
          key:
            shift: [0.4kx, -2]
            rotate: 7
            column_net: P1
      rows:
        single:
          key:
            row_net: P11
          
outlines:
  raw:
    - what: rectangle
      where: true
      size: [kx, ky]
  keys:
    - what: rectangle
      where: true
      size: [kx-0.5,ky-0.5]
    - what: rectangle
      where: [thumbfan_space]
      size: [kx*1.5-0.5, ky-0.5]
    - what: rectangle
      where: [r5_lctrl]
      size: [kx*1.25-0.5, ky-0.5]
    - what: rectangle
      where: [r4_lshift]
      size: [kx*1.75-0.5, ky-0.5]
    - what: rectangle
      where: [r3_tab]
      size: [kx*1.25-0.5, ky-0.5]
      fillet: 2
    - what: rectangle
      where: [r5_super]
      size: [1.25kx-0.5, ky-0.5]
      fillet: 2
  board:
    - what: polygon
      operation: stack
      points:
        - ref: r2_esc
          shift: [-0.5px, 0.5py]
        - ref: r5_lctrl
          shift: [-0.625px, -0.5py]
        - ref: r5_super
          shift: [0.625px, -0.5py]
        - ref: r5_super
          shift: [0.625px, 0]
        - ref: thumbfan_lower
          shift: [-0.5px, 0]
        - ref: thumbfan_lower
          shift: [-0.5px, -0.5py]
        - ref: thumbfan_space
          shift: [-0.25kx - 0.5px, -0.5py]
        - ref: thumbfan_space
          shift: [0.25kx + 0.5px, -0.5py]
        - 
          orient: -60
          shift: [0, 55]
        - ref: r2_t
          shift: [1.5kx + 0.5px, 0.5py]
      fillet: 3

  combo:
    - name: board
    - operation: subtract
      name: keys
      
pcbs:
  left_pcb:
    template: kicad8
    outlines:
      main:
        outline: board

    footprints:
      choc_hotswap:
        what: ceoloide/switch_choc_v1_v2
        where: true
        params:
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"

      diode:
        what: ceoloide/smd
        what: ceoloide/smd
        where: true
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]

      nicenano:
        what: ceoloide/mcu_nice_nano
        where:
          ref: r2_t
          shift: [1.5kx, -0.32ky]
        
      battery_connector:
        what: ceoloide/battery_connector_jst_ph_2
        where: r3_g
        adjust:
          shift: [1.6kx, -.5ky]
          rotate: 90

      on_off_switch:
        what: ceoloide/power_switch_smd_side
        where: r3_g
        params:
          from: BAT_P
          to: RAW
        adjust:
          shift: [2.18kx, -1.2ky]

      reset_switch:
        what: ceoloide/reset_switch_tht_top
        where: r3_g
        adjust:
          shift: [2.15kx, 0]
          rotate: 90